
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <p>Customer Information System which allows to store and retrive Customer Data</p>
    </div>
</body>
</html>
